header {
    height: 816px;
}
.start-page-menu {
    position: relative;
    height: 69px;
    background-color: #000000;
}
.logo {
    margin-left: 10.8%;
    margin-top: 21px;
}
.start-page-menu-list {
    display: block;
    position: absolute;
    color: #b0b0b0;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-left: 58%;
    text-align: center;
    border: 1px solid red;
}
.start-page-menu-list li {
    display: inline-block;
}
.start-page-banner {
    height: 643px;
    background: url(../images/banner.jpg) no-repeat;
}
.banner-slogan {
    color: #ffffff;
}
.banner-info-breakdown {
    width: 4.6%;
    height: 3px;
}
.banner-slogan-info {
   color: #636367;
}
.start-page-brand-bar {
    height: 104px;
    background-color: #ffffff;
}