header {
    background-color: #000000;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: auto;
}
.logo {
    display: block;
    float: left;
}
.navigation-bar {
    float: right;
}
.navigation-bar ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
.navigation-bar ul li {
    font-family: 'open_sanssemibold', sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #b0b0b0;
    padding: 0 0 0 48px;
    cursor: pointer;
}
.navigation-bar ul li:hover {
    color: #ff9b51;
}